<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Formulario EDIT
        FALTAN CAMBIAR EL ACTION (CREO)
    </h1>
    <form method="POST "action="/users/edit/<%= usuarioBuscado.id %>?_method=PUT">
        <div>>
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre" value="<%= usuarioBuscado.nombre%>">
        <label for="apellido">Apellido</label>
        <input type="text" name="apellido" id="apellido" value="<%= usuarioBuscado.apellido%>">
        <label for="telefono">Telefono</label>
        <input type="tel" name="telefono" id="telefono" value="<%= usuarioBuscado.telefono%>"> 
        <label for="email">Email</label>
        <input type="email" name="email" id="email" value="<%= usuarioBuscado.email%>">
        <div><button type="submit">Editar</button></div>
    </form>
    <div>
        <form method ="POST" action="/users/edit/<%= usuarioBuscado.id %>?_method=DELETE">
            <button type="submit">BORRAR</button>
        </form>
    </div>
</body>
</html>